MemberSequence
  = head:(MemberExpression / CASEBlock ) tail:(__ "," __ MemberSequence )* {
      return {
        type: "MemberSequence",
        list: buildSequenceList(head, tail, 3)
      };
    }