Sections
{{#each tokens}}
 {{#if (isFirst @index)}}={{else}}/{{/if}} {{statementize this}}
{{/each}}

{{#each tokens}}
{{statementize this}}
 = SevenSpace {{{makeRule this}}} {
      return {
        type: "{{{statementize this}}}",
        name: id1
      };
    }

{{/each}}