ClassDeclerationStatement
  = ClassToken __ id:Identifier __ ":" __ "{" __ body:(StatementList __)? "}" {
      return {
        type: "ClassDeclerationStatement",
        id: id,
        body: body
      };
    }

