VariableStatement
  = dataType:GenericIdentifier? __ declarations:VariableDeclarationList EOS {
      return {
        type: "VariableDeclaration",
        declarations: declarations,
        dataType: optionalNonEmptyList(dataType)
      };
    }
  /
    dataType:ArrayIdentifier? __ declarations:VariableDeclarationList EOS {
      return {
        type: "VariableDeclaration",
        declarations: declarations,
        dataType: optionalNonEmptyList(dataType)
      };
    }
  /
    dataType:Identifier? __ declarations:VariableDeclarationList EOS {
      return {
        type: "VariableDeclaration",
        declarations: declarations,
        dataType: optionalNonEmptyList(dataType)
      };
    }

VariableDeclarationList
  = head:VariableDeclaration tail:(__ "," __ VariableDeclaration)* {
      return buildList(head, tail, 3);
    }

VariableDeclaration
  = id:Identifier init:(__ Initialiser)? {
      return {
        type: "VariableDeclarator",
        id: id,
        init: extractOptional(init, 1)
      };
    }
