SELECTStatement
  = SELECTToken __ fields:MemberSequence __ from:FROMExpression __ where:WHEREExpression __ EOS {
      return {
        type: "SELECTStatement",
        fields: fields,
        from: from,
        where: where
      };
    }

