{{#each body}}
  public {{{name}}} {{{id.name}}} {
     {{#each body}}
        {{#each this}}
          public void {{{callee.name}}} () {
             {{#each body}}
                {{#each this}}
                    {{{name}}} {{{id.name}}}
                {{/each}}
             {{/each}}
          }
        {{/each}}
     {{/each}}
  }
  
{{/each}}