ConditionSequence
  = head:AssignmentExpression tail:(__ (ANDToken / ORToken) __ ConditionSequence)* {
      return {
        type: "ConditionSequence",
        list: buildList(head, tail, 3)
      };
    }
