MemberExpression
  = head:(
        PrimaryExpression
    )
    tail:(
        __ "." __ property:IdentifierName {
          return { property: property, computed: false };
        }
    )*
    {
      return tail.reduce(function(result, element) {
        return {
          type: "MemberExpression",
          object: result,
          dtype: element.dtype,
          id: element.id,
          property: element.property,
          computed: element.computed
        };
      }, head);
    }
