ClassDeclerationStatement
  = id1:ClassToken __ id:Identifier __ ":" __ "{" __ body:(StatementList __)? "}" {
      return {
        type: "ClassDeclerationStatement",
        name: id1[0],
        id: id,
        body: body
      };
    }

