{{{state "class"}}}{{{name}}} {{{cname id.name}}} {
   {{#each body}}
      {{#each this}}
      {{#if type}}
      {{> (lookup . 'type') }}
      {{/if}}
      {{/each}}
   {{/each}}
   {{{globalMembers}}}
}
