public class Main {
   public static class PythonMain {
     public void doExec() {
       {{#each body}}
       {{> (lookup . 'type') }}
       {{/each}}
     }
   }
   public static void main(String args[]) {
      new PythonMain().doExec();
   }
}